.wovBg {
    // background-image: url('/assets/images/lion3.svg');
    background-image: url('/assets/images/vame7.svg');
    background-size: 30rem;
    background-attachment: fixed;
    padding-left: 0px;
    display: block;
    background-position-x: -10px;
    background-position-y: -104px;
    background-repeat: repeat;
}

@media only screen and (max-width: 600px) {
    .wovBg {
        background-color: white;
        background-image: none;
    }
}
